In [8]:
import pandas as pd

In [9]:
df = pd.read_csv("Hostel.csv")

In [10]:
df = df.drop("Unnamed: 0", axis=1)

In [11]:
df

,hostel.name,City,price.from,Distance,summary.score,rating.band,atmosphere,cleanliness,facilities,location.y,security,staff,valueformoney,lon,lat
0,"""Bike & Bed"" CharinCo Hostel",Osaka,3300,2.9km from city centre,9.2,Superb,8.9,9.4,9.3,8.9,9.0,9.4,9.4,135.513767,34.682678
1,& And Hostel,Fukuoka-City,2600,0.7km from city centre,9.5,Superb,9.4,9.7,9.5,9.7,9.2,9.7,9.5,NaN,NaN
2,&And Hostel Akihabara,Tokyo,3600,7.8km from city centre,8.7,Fabulous,8.0,7.0,9.0,8.0,10.0,10.0,9.0,139.777472,35.697447
3,&And Hostel Ueno,Tokyo,2600,8.7km from city centre,7.4,Very Good,8.0,7.5,7.5,7.5,7.0,8.0,6.5,139.783667,35.712716
4,&And Hostel-Asakusa North-,Tokyo,1500,10.5km from city centre,9.4,Superb,9.5,9.5,9.0,9.0,9.5,10.0,9.5,139.798371,35.727898
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,YADOYA Guesthouse Green,Tokyo,2300,2.6km from city centre,8.2,Fabulous,7.9,7.7,6.9,8.9,8.9,8.8,8.3,139.668125,35.702908
338,YADOYA Guesthouse Orange,Tokyo,2000,2.9km from city centre,8.9,Fabulous,8.6,9.0,7.8,9.4,9.0,9.2,9.4,139.667695,35.706513
339,YAWP! backpackers,Tokyo,2500,17.5km from city centre,9.3,Superb,9.5,9.3,9.4,8.5,9.5,9.2,9.6,139.869197,35.752885
340,You En Me House,Kyoto,2800,2.4km from city centre,8.0,Fabulous,7.3,8.0,6.7,8.0,8.7,10.0,7.3,135.749063,34.997376
341,Zabutton Hostel,Tokyo,2900,5.9km from city centre,8.6,Fabulous,8.1,8.5,7.8,9.0,8.9,9.5,8.5,139.742116,35.655470

In [12]:
df.to_json('Hostel.json', orient='records')

In [3]:
df = pd.read_json('data/Hostel.json', orient='split')

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   hostel.name    342 non-null    object
 1   City           342 non-null    object
 2   price.from     342 non-null    int64
 3   Distance       342 non-null    object
 4   summary.score  327 non-null    float64
 5   rating.band    327 non-null    object
 6   atmosphere     327 non-null    float64
 7   cleanliness    327 non-null    float64
 8   facilities     327 non-null    float64
 9   location.y     327 non-null    float64
 10  security       327 non-null    float64
 11  staff          327 non-null    float64
 12  valueformoney  327 non-null    float64
 13  lon            298 non-null    float64
 14  lat            298 non-null    float64
dtypes: float64(10), int64(1), object(4)
memory usage: 40.2+ KB

In [13]:
df = df.drop(["lon", 'lat','location.y' , 'valueformoney'], axis=1)

In [14]:
df['Distance']=df['Distance'].str.replace('km from city centre', '')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   hostel.name    342 non-null    object
 1   City           342 non-null    object
 2   price.from     342 non-null    int64
 3   Distance       342 non-null    object
 4   summary.score  327 non-null    float64
 5   rating.band    327 non-null    object
 6   atmosphere     327 non-null    float64
 7   cleanliness    327 non-null    float64
 8   facilities     327 non-null    float64
 9   security       327 non-null    float64
 10  staff          327 non-null    float64
dtypes: float64(6), int64(1), object(4)
memory usage: 29.5+ KB

In [16]:
df['Distance'] = df['Distance'].astype(float)

In [17]:
df['rating.band'].unique()

array(['Superb', 'Fabulous', 'Very Good', nan, 'Rating', 'Good'],
      dtype=object)

In [18]:
df = df.dropna()

In [19]:
df[df['rating.band']=='Rating']

,hostel.name,City,price.from,Distance,summary.score,rating.band,atmosphere,cleanliness,facilities,security,staff
34,bnb+ Ninja Dojo Ueno,Tokyo,2500,8.0,5.2,Rating,4.0,3.3,4.0,5.3,4.7
35,bnb+Shinjuku Castle,Tokyo,2500,1.3,5.0,Rating,2.7,4.0,3.3,5.3,5.3
67,Ezstay Osaka,Osaka,2000,4.6,3.1,Rating,2.0,2.0,2.0,6.0,2.0
140,Hostel Ginkakuji,Kyoto,1300,2.7,4.9,Rating,2.0,10.0,6.0,2.0,2.0
234,Nagomi-Ryokan Yuu,Kyoto,3100,2.2,5.1,Rating,6.0,6.0,2.0,6.0,2.0
272,Qoo Ebisucho,Osaka,2000,5.5,5.7,Rating,6.0,8.0,6.0,2.0,8.0
280,Sakura Guest House,Osaka,2700,4.3,4.9,Rating,4.0,4.0,4.0,4.0,6.0
290,Shibamata FU-TEN Bed and Local,Tokyo,3000,18.5,4.9,Rating,2.0,4.0,2.0,10.0,10.0

In [20]:
df.columns

Index(['hostel.name', 'City', 'price.from', 'Distance', 'summary.score',
       'rating.band', 'atmosphere', 'cleanliness', 'facilities', 'security',
       'staff'],
      dtype='object')

In [21]:
df.columns = ['Nombre_Hostal','Ciudad','Precio_desde','Distancia', 'Puntuacion_resumida', 'Rating', 'Atmosfera','Limpieza','Facilidades','Seguridad','Staff']

In [22]:
df.columns

Index(['Nombre_Hostal', 'Ciudad', 'Precio_desde', 'Distancia',
       'Puntuacion_resumida', 'Rating', 'Atmosfera', 'Limpieza', 'Facilidades',
       'Seguridad', 'Staff'],
      dtype='object')

In [24]:
df.to_json('Hostel.json', orient='records',index=False, lines=True)